 div {
   position: absolute;
   left: 50%;
   margin-top: 0px;
   margin-left: -50px;
   width: 100px;
   height: 100px;
 }

 h1 {
   color: deeppink;
   text-align: center;
 }

 p {
   color: rgb(26, 24, 182);
   text-align: center;
 }

 section {

   position: absolute;
   top: 25%;
   margin-top: 50px;
   margin-left: 50px;
   width: 100vx;
   height: 100vx;
 }

 #section {
   position: absolute;
   top: 50%;
   margin-top: 50px;
   margin-left: 50px;
   width: 100vx;
   height: 100vx;
 }

 #snackbar {
   visibility: hidden;
   min-width: 250px;
   margin-left: -125px;
   background-color: #333;
   color: #fff;
   text-align: center;
   border-radius: 2px;
   padding: 16px;
   position: fixed;
   z-index: 1;
   left: 50%;
   bottom: 30px;
   font-size: 17px;
 }

 #snackbar.show {
   visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
 }

 @-webkit-keyframes fadein {
   from {
     bottom: 0;
     opacity: 0;
   }

   to {
     bottom: 30px;
     opacity: 1;
   }
 }

 @keyframes fadein {
   from {
     bottom: 0;
     opacity: 0;
   }

   to {
     bottom: 30px;
     opacity: 1;
   }
 }

 @-webkit-keyframes fadeout {
   from {
     bottom: 30px;
     opacity: 1;
   }

   to {
     bottom: 0;
     opacity: 0;
   }
 }

 @keyframes fadeout {
   from {
     bottom: 30px;
     opacity: 1;
   }

   to {
     bottom: 0;
     opacity: 0;
   }
 }

 .section {
   position: absolute;
   top: 50%;
   margin-top: 150px;
   margin-left: 50px;
   width: 100vx;
   height: 100vx;
 }

 article {
   border: black 3px solid;
   position: absolute;
   top: 50%;
   margin-top: 250px;
   margin-left: 0px;
   width: 80vw;
   height: auto;
 }

 article {
   border: maroon 3px solid;
   position: absolute;
   top: 50%;
   margin-top: 250px;
   margin-left: 0px;
   width: 80vw;
   height: auto;
 }